/*=================================================================================================================================
//     Reset classes
==================================================================================================================================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #dddddd !important;
	font-size: 14px;
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: #dddddd !important;
	font-size: 14px;
}
:-ms-input-placeholder {
	/* IE 10+ */
	color: #dddddd !important;
	font-size: 14px;
}
:-moz-placeholder {
	/* Firefox 18- */
	color: #dddddd !important;
	font-size: 14px;
}

.checkBox {
	position: relative;
	margin: 0;
}

.checkBox label {
	width: 20px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	background: #07f556;
	border-radius: 4px;
	margin-right: 5px;
}

.checkBox label:after {
	content: "";
	width: 12px;
	height: 6px;
	position: absolute;
	top: 5px;
	left: 4px;
	border: 2px solid #fcfff4;
	border-top: none;
	border-right: none;
	background: transparent;
	opacity: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.checkBox label:hover::after {
	opacity: 0.3;
}
.checkBox input[type="checkbox"] {
	visibility: hidden;
}
.checkBox input[type="checkbox"]:checked + label:after {
	opacity: 1;
}

.checkBox span {
	margin-left: 15px;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	float: right;
}
