/*=================================================================================================================================
    body
==================================================================================================================================*/

body {
	font-size: 100%;
	font-family: "Open Sans", sans-serif;
	margin: 0px;
	cursor: pointer;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100vh;
	background-color: #fff;
}

.flex-container {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}

/*=================================================================================================================================
    for signin form 
==================================================================================================================================*/

.signin {
	width: 400px;
	margin: 0 auto;
	border: 2px solid #f6f6f6;
	box-shadow: 0 5px 5px -5px;
	padding: 40px 50px;
}

.signin .title {
	display: block;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	width: 100%;
	color: #333;
	margin-bottom: 10px;
}

.signin .sub-title {
	display: block;
	font-size: 14px;
	text-align: center;
	width: 100%;
	color: #333;
	margin-bottom: 30px;
}

.signin input {
	border: 1px solid #ccc;
	font-size: 14px;
}

.signin input[type="text"],
.signin input[type="password"] {
	margin-bottom: 5px;
	height: 45px;
}

.signin input:focus {
	border: 1px solid #02ff63;
	outline: 0;
}

.signin input:focus ~ label {
	display: block;
}

.signin button {
	height: 45px;
	line-height: 45px;
	color: #fff;
	background-color: #07f556;
	border-radius: 4px;
	font-size: 20px;
	border: 0;
	width: 100%;
	padding: 0;
	text-transform: uppercase;
}

.form-others {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.form-others a {
	font-size: 12px;
	color: #05549f;
}

.inputs {
	position: relative;
	padding: 20px 0px 0px;
	margin-bottom: 10px !important;
}

.inputs .error {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #fff0f1;
	padding: 0px 15px;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	color: #f6303f;
}

.inputError {
	border: 1px solid #f6303f !important;
}

.form-group {
	margin-bottom: 20px;
}
